# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# production
/build

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# binaries
bin/
dist/
lib/

# editors
*.swp
.idea/
.vs/
.vscode/
.DS_Store
